node_modules/
public/
.env
package-lock.json
Dockerfile
app/services/firebase/serviceAccountKey.json
app/db/config/certificate.pem

.DS_Store
app/.DS_Store
app/api/.DS_Store
app/api/users/.DS_Store
app/api/users/handler/.DS_Store
app/api/users/handler/modules/serviceaccountkey.json
app/services/.DS_Store
